body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  text-align: center;
}
section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 23px;
  margin: 25px auto;
  border-radius: 8px;
  max-width: 750px;
  background-color: #1f2937;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row.row1 {
  box-sizing: border-box;
  padding: 33px 50px;
  width: 100%;
  background-color: #774360;
}
.row.row1 h1 {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}
.row.row1 #input-el {
  box-sizing: border-box;
  max-width: 117px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  text-align: center;
  font-weight: 800;
  font-size: 58px;
  color: #fff;
  background: transparent;
}
.row.row1 #button-el {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  padding: 9px 27px;
  width: 117px;
  font-weight: 500;
  font-size: 16px;
  color: #3d3d3d;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.row.small {
  border-radius: 4px;
  width: 91%;
  background-color: #000;
}
.row.small:nth-child(2) {
  margin-top: 13px;
}
.row.small:last-child {
  margin-bottom: 36px;
}
.row.small #length-display span {
  background: #51424F;
}
.row.small #volume-display span {
  background: #643B47;
}
.row.small #mass-display span {
  background: #966892;
}
.row.small h2 {
  margin-block: 0.8em 0;
  font-weight: 600;
  font-size: 23px;
  color: #ccc1ff;
}
.row.small p {
  margin-block: 1.3em;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: left;
  line-height: 2.5em;
}
.row.small p span {
  border-radius: 4px;
  padding: 5px;
}
